.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2D7FF1  ;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #2D7FF1 ;
  margin-top: 1rem;
  padding: 1rem;

}

.navbar p {
  font-family: 'Roboto';
}


.App {
  background-color: red;

}

